*.opensdf
*.sdf
*.suo
*.user
*.VC.db
*.log
*.idb
*.opendb
*.vsidx
*.pdb
**/Nucleo/Account/
**/Nucleo/Character/
**/ServerLogs/
*.ipch
**/.vs/
.vs/
**/enc_temp_folder
/ServerLogs/*.log
**/ServerLogs/**/*.log
/Accounts/*.log
Xsilium.zip 